name: ci
on:
  push: { branches: [ main ] }
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with: { distribution: temurin, java-version: '21' }
      - name: Build Gateway
        working-directory: gateway-java-spring
        run: ./gradlew bootJar -x test || true
      - name: Build Bookservice
        working-directory: services/bookservice-java-spring
        run: ./gradlew bootJar -x test || true
      - uses: actions/setup-go@v5
        with: { go-version: '1.22' }
      - name: Build Go services
        run: |
          for svc in services/barcodes-go do
            (cd $svc && go build ./...)
          done
